* {
    box-sizing: border-box;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.site-title {
    display: flex;
    align-self: center;
}

.nav-links > a {
    padding-left: 1rem;
}

