body {
    height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    background-color: aliceblue; 
    color: #070707;
  }

* {
    box-sizing: border-box;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10rem;
}

.site-title {
    display: flex;
    margin-left: 5rem;
}

#logo {
    max-width: 7rem;
}

.nav-links {
    margin-right: 5rem;
    font-weight: 200;
    font-size: 1rem;
    align-self: center;
}

.nav-links > a {
    padding-left: 1rem;
}

.nav-links > a:hover {
    opacity: 50%;
}

  a {
    text-decoration: none;
    color: inherit;
    transition-duration: 0.4s;
}

.logo {
    min-height: 10rem;
    max-height: 15rem;
    border-radius: 50px;
    opacity: 90%;
}