body {
    height: 100vh;
    margin: 0;
    padding: 0;
    /* position: relative;
    overflow: hidden; */
    
    background-color: #EEEDEB;
    color: #000000;
  }

* {
    box-sizing: border-box;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "letter-gothic-std", monospace;
    font-weight: 400;
    padding: 1rem 2.5rem;
}

.site-title {
    font-family: "minion-pro", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2.5rem;
}

.nav-links {
    font-size: 1.5rem;
    /* opacity: 90%; */
    padding: 0px;
    margin: 0px;
}

.nav-links > a {
    padding: 1rem;
}

.nav-links > a:hover {
    opacity: 50%;
}

a {
    text-decoration: none;
    color: inherit;
    transition-duration: 0.4s;
}

.home-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 7rem;
}

#hero-image {
    max-width: 50rem;
    margin-left: 4.5rem;
}

.main-text-container {
    display: flex;
    flex-direction: column;
    margin-right: 8rem;
}

.home-main-text {
    max-width: 40rem;
    font-size: 3.5rem;
}

#main-text-btn {
    display: flex;
    justify-content: center;
    font-family: "letter-gothic-std", monospace;
    font-weight: 400;
    font-size: 1rem;
    max-width: 15rem;
    background-color: #EEEDEB;
    border: 1px solid #000000;
}

#main-text-btn:hover {
    opacity: 50%;
}

.social-links {
    font-size: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-links > a {
    padding: 1rem;
}

.social-links > a, .tour-links:hover {
    opacity: 50%;
}

/* tour dates below */

.tour-date-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "letter-gothic-std", monospace;
    background-color: #e5e5e5;
    max-width: 50vw;
    border-bottom: 1px solid #2f2f2f;
}

.tour-date-container > p, a {
    padding: 2rem;
}

#date {
    font-size: 1.5rem;
    font-weight: 400;
}

.tour-links {
    font-size: 1.5rem;
    font-weight: 400;
}

.table-container {
    display: flex;
    justify-content: center;
    padding: 5rem;
}

/* EEEDEB */
/* 747263 */
/* E0CCBE */

/* Minion Pro Regular
font-family: "minion-pro", serif;
font-weight: 400;
font-style: normal;
Minion Pro Italic
font-family: "minion-pro", serif;
font-weight: 400;
font-style: italic;
Minion Pro Bold
font-family: "minion-pro", serif;
font-weight: 700;
font-style: normal;
Minion Pro Bold Italic
font-family: "minion-pro", serif;
font-weight: 700;
font-style: italic;
Minion Pro Caption
font-family: "minion-pro-caption", serif;
font-weight: 400;
font-style: normal;
Minion Pro Italic Caption
font-family: "minion-pro-caption", serif;
font-weight: 400;
font-style: italic;
Minion Pro Bold Caption
font-family: "minion-pro-caption", serif;
font-weight: 700;
font-style: normal;
Minion Pro Bold Italic Caption
font-family: "minion-pro-caption", serif;
font-weight: 700;
font-style: italic;
Minion Pro Display
font-family: "minion-pro-display", serif;
font-weight: 400;
font-style: normal;
Minion Pro Italic Display
font-family: "minion-pro-display", serif;
font-weight: 400;
font-style: italic;
Minion Pro Bold Display
font-family: "minion-pro-display", serif;
font-weight: 700;
font-style: normal;
Minion Pro Bold Italic Display
font-family: "minion-pro-display", serif;
font-weight: 700;
font-style: italic;
Minion Pro Subhead
font-family: "minion-pro-subhead", serif;
font-weight: 400;
font-style: normal;
Minion Pro Italic Subhead
font-family: "minion-pro-subhead", serif;
font-weight: 400;
font-style: italic;
Minion Pro Bold Subhead
font-family: "minion-pro-subhead", serif;
font-weight: 700;
font-style: normal;
Minion Pro Bold Italic Subhead
font-family: "minion-pro-subhead", serif;
font-weight: 700;
font-style: italic;
Minion Std Black
font-family: "minion-std-black", serif;
font-weight: 400;
font-style: normal;
Minion Pro Cond
font-family: "minion-pro-condensed", serif;
font-weight: 400;
font-style: normal;
Minion Pro Cond Italic
font-family: "minion-pro-condensed", serif;
font-weight: 400;
font-style: italic;
Minion Pro Bold Cond
font-family: "minion-pro-condensed", serif;
font-weight: 700;
font-style: normal;
Minion Pro Bold Cond Italic
font-family: "minion-pro-condensed", serif;
font-weight: 700;
font-style: italic;
Minion Pro Cond Caption
font-family: "minion-pro-condensed-caption", serif;
font-weight: 400;
font-style: normal;
Minion Pro Cond Italic Caption
font-family: "minion-pro-condensed-caption", serif;
font-weight: 400;
font-style: italic;
Minion Pro Bold Cond Caption
font-family: "minion-pro-condensed-caption", serif;
font-weight: 700;
font-style: normal;
Minion Pro Bold Cond Italic Caption
font-family: "minion-pro-condensed-caption", serif;
font-weight: 700;
font-style: italic;
Minion Pro Cond Display
font-family: "minion-pro-condensed-display", serif;
font-weight: 400;
font-style: normal;
Minion Pro Cond Italic Display
font-family: "minion-pro-condensed-display", serif;
font-weight: 400;
font-style: italic;
Minion Pro Bold Cond Display
font-family: "minion-pro-condensed-display", serif;
font-weight: 700;
font-style: normal;
Minion Pro Bold Cond Italic Display
font-family: "minion-pro-condensed-display", serif;
font-weight: 700;
font-style: italic;
Minion Pro Cond Subhead
font-family: "minion-pro-condensed-subhead", serif;
font-weight: 400;
font-style: normal;
Minion Pro Cond Italic Subhead
font-family: "minion-pro-condensed-subhead", serif;
font-weight: 400;
font-style: italic;
Minion Pro Bold Cond Subhead
font-family: "minion-pro-condensed-subhead", serif;
font-weight: 700;
font-style: normal;
Minion Pro Bold Cond Italic Subhead
font-family: "minion-pro-condensed-subhead", serif;
font-weight: 700;
font-style: italic; */