* {
    padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "minion-pro", serif;
    font-weight: 700;
    font-style: normal;
    background-color: var(--mainColor);
}

:root {
	--mainColor: #EEEDEB;
	--mainColorLight: #5767aa;
	--secondaryColor: #A83F32;
	--textColor: #131617;
}

/* Woodsmoke
#131617

Brandy Rose
#B78E75

Breaker Bay
#6398A7

Waikawa Gray
#5A7998  */

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100px;
	margin: 2.8rem 2.8rem;
	color: var(--textColor);
}

.site-title {
    font-size: 3rem;
    margin: 0 1rem;
    color: var(--textColor);
    text-decoration: none;
    flex-grow: 1;
  }

nav a {
	color: var(--textColor);
	text-decoration: none;
    font-family: "letter-gothic-std", monospace;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 1rem;
    transition-duration: 0.4s;
}

nav a:hover {
	opacity: 50%;
}

header .nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: var(--textColor);
	visibility: hidden;
	opacity: 0;
	font-size: 1.8rem;
}

header div,
nav {
	display: flex;
	align-items: center;
}

.home-page {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 5rem 4rem;
}

#hero-image {
    max-width: 40rem;
    margin-right: 2rem;
}

.main-text-container {
    display: flex;
    flex-direction: column;
    padding-right: 5rem;
}

.home-main-text {
    max-width: 40rem;
    font-size: 2.5rem;
}

#main-text-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    height: 4rem;
    max-width: 12rem;
    font-family: "letter-gothic-std", monospace;
    font-size: 1rem;
    font-weight: 700;
    background-color: var(--textColor);
    color: var(--mainColor);
    text-decoration: none;
    transition-duration: 0.4s;
}

#main-text-btn:hover {
    opacity: 50%;
}

@media only screen and (max-width: 1225px) {
    
    .home-main-text {
        font-size: 2.5rem;
    }

}

@media only screen and (max-width: 1024px) {

    header {
        margin: 0rem 2rem;

    }

	header .nav-btn {
		visibility: visible;
		opacity: 1;
        display: flex;
	}

	header nav {
		position: fixed;
		top: -100vh;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background-color: var(--mainColor);
		transition: 1s;
	}

	header .responsive_nav {
		transform: translateY(100vh);
	}

    .site-title {
        font-size: 1.5rem;
        margin: 0;
        padding: ;
    }

	nav .nav-close-btn {
		position: absolute;
		top: 2rem;
		right: 2rem;
	}

	nav a {
		font-size: 1.5rem;
	}

    .home-page {
        flex-direction: column;
        margin: 0;
    }

    #hero-image {
        width: 80vw;
        margin: 0;
        margin-bottom: 2rem;
    }
    
    .main-text-container {
        width: 75vw;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .home-main-text {
        font-size: 1.5rem;
        text-align: center;
    }

    #main-text-btn {
        margin-top: 2rem;
        width: 9rem;
        height: 3rem;
        font-size: .8rem;
    }
}

/* Tour Dates */

.table-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    padding-top: 0;
    margin-top: 2.5rem;
}

.tour-date-container {
    margin: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "letter-gothic-std", monospace;
    max-width: 50vw;
    border-bottom: 1px solid #2f2f2f;
}

.tour-date-container > p, a {
    padding: 2rem;
}

#date {
    font-size: 1.5rem;
    font-weight: 400;
}

.tour-links {
    font-size: 1.5rem;
    font-weight: 400;
    text-decoration: none;
    color: black;
    transition-duration: 0.4s;
}

.tour-links:hover {
    opacity: 50%;
}

/* Contact */

.contact-page {
    margin-top: 2.5rem;
  }
  
 form > h1 {
    margin-bottom: 30px;
  }
  
  .form-container {
    border-radius: 10px;
    flex: 1;
  }
  
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  label {
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
    input[type="text"], input[type="email"], input[type="subject"], textarea {
    margin-top: 10px;
    width: 40rem;
    border: 1px solid var(--textColor);
    padding: 10px;
    font-size: 1.5rem;
    font-weight: 300;
  }
  
  textarea {
    resize: none;
    min-height: 10rem;
    font-weight: 300;
  }
  
  #submit-btn {
    background-color: var(--textColor);
    color: white;
    padding: 12px 20px;
    border: none;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    transition-duration: 0.4s;
    width: 100%;
    max-width: 15rem;
    height: 5rem;
  }
  
  #submit-btn:hover {
    opacity: 50%;
  }

  /* band */

  .band-page {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem;
  }

  .band-page-text-container {
    width: 50rem;
    margin-right: 5rem;
  }

  .band-page-text-container > h2 {
    text-align: center;
    font-size: 2.5rem;
    padding-bottom: 2rem;
  }

  .band-page-text-container > p {
    font-size: 1.5rem;
    font-weight: 300;
    text-align: right;
  }

  #band-photo-1 {
    max-width: 50rem;
    width: 50vw;
  }

  /* Watch */

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem;
  }

  .live-video {
    max-width: 100%;
    max-height: 100%;
    
  }



  

  